<!-- Modal -->
<div class="modal-dialog" role="document">
  <div class="modal-content">

    <div class="modal-header">
      <h3 class="modal-title m-3" id="newJobPost"><%= j.name %></h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      
      <div class="bg-light p-3 mb-3">
        <h4>Description:</h4>
        <hr>
        <%= j.description %>
      </div>

      <div class="p-3">
        <strong>Category:</strong>
        <%= j.category %>
        <br>
        <strong>Expiration date:</strong>
        <%= j.expiration_date %>
        <br>
        <strong>Employer:</strong>
        <%= j.user.email %>
        @
        <%= j.user.name %>
      </div>

      <div class="form-group modal-footer ">
          <%= link_to "Apply now", new_job_aplication_path(job_id: j.id), {remote: true, 'data-toggle' =>  "modal", 'data-target' => '#applyToAJob', class: 'btn btn-warning'}  %>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>