<p id="notice"><%= notice %></p>

<h1>Jobs</h1>


<%if user_signed_in? && current_user.employer%>
  <%= link_to 'Create a new job post', new_job_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'}  %>
  <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <%= render partial: 'jobs/newjob' %>
      </div>
    </div>
  </div>
<%end%>


<%= link_to 'Create a new job post', new_job_path, class: 'btn btn-outline-success my-2 my-sm-0', data: { modal: true } %>



<% @jobs.order(:id).each do |job| %>

  <div class="card text-center">
    <div class="card-header">
      <small>
        Expiration time: <%= job.expiration_date%>
        <br>
        Created: <%= time_ago_in_words(job.created_at)%> ago,
        <% if job.expiration_date.future? %>
        Remaining time: <%= distance_of_time_in_words(job.expiration_date, Time.now, include_seconds: true)%>
        <%else%>
        <h5 class="text-danger">EXPIRED</h5>
        <%end%>


      </small>
    </div>
    <div class="card-body">
      <h3 class="card-title"><%= job.name%></h3>

      <p class="card-title"><%=job.category%></p>
      <hr>
      <p class="card-text"><%= job.description %></p>

      <% if job.expiration_date.future? %>
        <%= link_to 'Apply now', new_job_aplication_path, class:"btn btn-warning"%>
      <%end%>


      <%= link_to 'Show', job, class:"btn btn-success" %>

      <%if user_signed_in? && current_user.employer%>
        <%= link_to 'Edit', edit_job_path(job), class:"btn btn-dark", data: { modal: true }%>
        <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
      <% end %>

    </div>
    <div class="card-footer text-muted">
      by <%= job.user.name %> - <%= job.user.email %>
    </div>
  </div>
  <br>
<% end %>
