  <!-- Modals -->
    <div class="modal" id="newJobPost" tabindex="-1" role="dialog" aria-hidden="true" style="display: none"></div>
    <div class="modal" id="editJobPost" tabindex="-1" role="dialog" aria-hidden="true" style="display: none"></div>
    <div class="modal" id="showJobPost" tabindex="-1" role="dialog" aria-hidden="true" style="display: none"></div>
    <div class="modal" id="applyToAJob" tabindex="-1" role="dialog" aria-hidden="true" style="display: none"></div>

 <!-- Modals -->

<h1 class="mt-3">Jobs</h1>

<%if user_signed_in? && current_user.employer%>
  <%= link_to "Create a new job post", new_job_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#newJobPost', class: 'btn btn-primary'}  %>
<%end%>

<% @jobs.order(:id).each do |job| %>

  <div class="card text-center mb-5">
    <div class="card-header">
      <small>
        Expiration time: <%= job.expiration_date%>
        <br>
        Created: <%= time_ago_in_words(job.created_at)%> ago,
        <% if job.expiration_date.future? %>
        Remaining time: <%= distance_of_time_in_words(job.expiration_date, Time.now, include_seconds: true)%>
        <%else%>
        <h5 class="text-danger">EXPIRED</h5>
        <%end%>
      </small>
    </div>

    <div class="card-body">
      <h2 class="card-title"><%= job.name%></h2>
      <h5 class="card-title "><%=job.category%></h5>
      <hr>
      <p class="card-text"><%= job.description %></p>
      <hr>

      <% if job.expiration_date.future? && user_signed_in? && !current_user.employer %>
        <%#= link_to 'Apply now', new_job_aplication_path(job_id: job.id), class:"btn btn-warning"%>
        <%= link_to "Apply now", new_job_aplication_path(job_id: job.id), {remote: true, 'data-toggle' =>  "modal", 'data-target' => '#applyToAJob', class: 'btn btn-warning'}  %>

      <%end%>

      <%= link_to "Show", job_path(job), {remote: true, 'data-toggle' =>  "modal", 'data-target' => '#showJobPost', class: 'btn btn-success'}  %>
      
      <%if user_signed_in? && current_user.employer && job.user_id == current_user.id%>
        <%= link_to "Edit", edit_job_path(job), {remote: true, 'data-toggle' =>  "modal", 'data-target' => '#editJobPost', class: 'btn btn-info'}  %>
        <%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
      <% end %>

    </div>
    <div class="card-footer text-muted">
      by <%= job.user.name %> - <%= job.user.email %>
    </div>
  </div>
<% end %>
