<p id="notice"><%= notice %></p>

<h1>Job Aplications</h1>

<% @j_objs.each do |job| %>
  <h2><%= job.name %></h2>



      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Date of birth</th>
            <th>Email</th>
            <th>Phone num</th>
            <th>Adress</th>
            <th>Education</th>
            <th>Job</th>
            <th colspan="3"></th>
          </tr>
        </thead>


  <% @job_aplications.each do |job_aplication| %>
    <% if job_aplication.job_id == job.id %>
        <tbody>
        
          <tr>      
            <td><%= job_aplication.name %></td>
            <td><%= job_aplication.date_of_birth %></td>
            <td><%= job_aplication.email %></td>
            <td><%= job_aplication.phone_num %></td>
            <td><%= job_aplication.address %></td>
            <td><%= job_aplication.education %></td>
            <td><%= job_aplication.job_id %></td>
            <td><%= link_to 'Show', job_aplication %></td>
            <td><%= link_to 'Edit', edit_job_aplication_path(job_aplication) %></td>
            <td><%= link_to 'Destroy', job_aplication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>

        </tbody>
      </table>
      


    <% end #if job_id == jobapp.job.id%>

  <% end #for each jobapp%>

<% end #foreach job%>


<br>


<%= link_to 'New Job Aplication', new_job_aplication_path %>
